[Unit]
Description=Run Immich Auto Archive every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=immich-auto-archive.service

[Install]
WantedBy=timers.target
